.container
  .lamb.a.a-3
  .chandelier
    .chandelier-case.a.a-3
    .chandelier-details
     -for (i=0;i<4;i++)
       .chandelier-detail.a.a-2
     .line.a
  .container-back.cont.a-4
  .container-wrapper.cont.a-4
   .way
   .moon
   .star-container
    .stars
     -for (i=0;i<17;i++)
      .star
    .stars
     -for (i=0;i<17;i++)
      .star
   .night-wrapper
    -for(n=0;n<2;n++)
     .night
      -for(k=0;k<2;k++)
       .train
        .train-link
        .train-coach
         .train-mid
          -for (i=0;i<4;i++)
           .window
            .window-line
         .door
         .rollers
          -for (i=0;i<4;i++)
           .roller